*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project__title {
  font-weight: 700;
  font-size: 36px;
  color: #1f4ae2;
  text-transform: uppercase;
}

.project__link {
  border-radius: 5px;
  padding: 17px 0;

  display: block;
   border: 1px solid transparent;
  color: white;
  width: 100%;
  text-align: center;
  max-width: 256px; 
  font-size: 20px;
  line-height: 140%;
  color: #f9faff;
  font-weight: 700;
  transition: all 0.3s linear;
  white-space: nowrap;

/* Style */
background: rgb(31, 74, 226);

  &:hover {
    color: #1f4ae2;
    background: white;
    border-color: #1f4ae2;
    cursor: pointer;
  }
}

.h-reset {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}