// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';


html,
body {
    height: 100%;
    //    background-color: #080808;
    background:  #F9FAFF;
    margin: 0;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    // line-height: 1.6;
    letter-spacing: -0.02em;
    color: #2c3558;
}


.main {
    height: 100%;
    flex: 1 0 auto;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: rgba(20, 16, 36, 0.08);
    border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
    background-color: #141024;
    border-radius: 40px;
    // border: 3px solid orange;
}

// =============scrollbar=============

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/review';
@import 'blocks/benefits';
@import 'blocks/about';
@import 'blocks/katalog';
@import 'blocks/order';
@import 'blocks/trust';
@import 'blocks/contact';
@import 'blocks/faq';
@import 'blocks/findus';
@import 'blocks/ourcontacts';
@import 'blocks/footer';