.about {
    padding-top: clamp(30px, 10vw, 100px);
    color: black;
    padding-bottom: clamp(30px, 10vw, 100px);
    position: relative;
}

.about__inner {

    & h3 {
        margin: 0;
        color: rgb(44, 53, 88);
        font-family: var(--third-family);
        font-size: 45px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 30px;

        @include mobile{
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    & strong {
        color: rgb(44, 53, 88);
        font-size: 19px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -2%;
        text-align: left;
        margin-bottom: 20px;

        @include mobile{
            font-size: 17px;
        }
    }

    & p {
        color: rgb(0, 0, 0);
        font-size: 19px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -2%;
        text-align: left;

        @include mobile{
            font-size: 15px;
        }
    }
}

.about__inner__item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px;
    
    @include mobile{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
}

.about__inner__title {
    font-family: var(--third-family);
    font-size: clamp(28px, 6vw, 45px);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 36px;
    margin-bottom: 60px;

    & b {
        color: rgb(31, 74, 226);
    }
     
    @include mobile{
        padding-left: 0;
    }
}

.about__inner__link {
    display: block;
    border: 1px solid #fff;
    color: white;
    padding: 17px 30px;
    box-shadow: 4px 4px 50px 0 rgba(66, 66, 66, 0.25);
    background: #1f4ae2;
    font-size: 20px;
    transition: all 0.3s linear;

    &:hover {
        color: #1f4ae2;
        background: white;
        border-color: #1f4ae2;
        cursor: pointer;
    }
}

.about__bg {
    position: absolute;
    left: 60%;
    top: 100px;
    z-index: -1;
}