.contact {
    @include bg-cover;
    max-height: 362px;
    margin-bottom: 170px;
}

.contact__inner {
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;

    backdrop-filter: blur(24px);
    background: rgba(243, 245, 251, 0.7);
    padding: 60px 100px;

    position: relative;
    top: 120px;
    z-index: 10;

    & h2 {
        display: flex;
        align-items: center;
        color: rgb(44, 53, 88);
        font-family: var(--third-family);
        font-size: 60px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        justify-content: center;
        margin-bottom: 30px;

        & strong {
            display: block;
            width: 32px;
            height: 32px;
            @include bg-cover;
            margin-right: 32px;
            margin-left: 32px;
            position: relative;
            top: 8px;
        }
    }
}

.contact__inner__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;

    & input {
        flex: 1 0 220px;
    }
}

.contact__inner__form input[type='text'],
.contact__inner__form input[type='tel'] {
    border-radius: 5px;
    padding: 15px;
    border: none;
    max-width: 220px;
    backdrop-filter: blur(20px);
    background: rgba(249, 250, 255, 0.3);
    color: rgb(44, 53, 88);
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;
}

.contact__inner__gift{
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(249, 250, 255, 0.5);
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}