.contact {
    @include bg-cover;
    max-height: 362px;
    margin-bottom: 170px;
}

.contact__inner {
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;

    backdrop-filter: blur(24px);
    background: rgba(243, 245, 251, 0.7);
    padding: 60px 100px;

    position: relative;
    top: 120px;
    z-index: 10;

    @include small-tablet{
        padding: 10px 25px;
    }

    & h2 {
        display: flex;
        align-items: center;
        color: rgb(44, 53, 88);
        font-family: var(--third-family);
        font-size: 50px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        justify-content: center;
        margin-bottom: 30px;

        @include small-tablet {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include mobile{
            font-size: 34px;
        }

        & strong {
            display: block;
            width: 28px;
            height: 28px;
            @include bg-cover;
            margin-right: 28px;
            margin-left: 28px;
            position: relative;
            top: 8px;
            min-width: 28px;

            @include mobile{
                min-width: auto;
                top: unset;
                width: 23px;
                height: 23px;
                background-size: contain;
            }
        }
    }
}

.contact__inner__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;

    @include small-tablet{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
        
        @include mobile{
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        }
     }

    & input {
        flex: 1 0 220px;
    }
    
}

.contact__inner__form input[type='submit']{
    @include small-tablet{
        grid-column: 1/3;
    }
}

.contact__inner__form input[type='text'],
.contact__inner__form input[type='tel'] {
    border-radius: 5px;
    padding: 15px;
    border: none;
    // max-width: 260px;
    backdrop-filter: blur(20px);
    background: rgba(249, 250, 255, 0.3);
    color: rgb(44, 53, 88);
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;

    @include mobile{
        padding: 10px;
        font-size: 14px;
        line-height: normal;
    }
}

.contact__inner__gift {
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(249, 250, 255, 0.5);
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}