.hero {
    @include bg-cover;
    padding-top: 120px;
    color: #f9faff;
}

.hero__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 60px;
}

.hero__inner__item {}

.hero__inner__item__work {
    font-size: 19px;
    color: #f9faff;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 45px;
    margin-bottom: 10px;
    display: block;
}

.hero__inner__item__title {
    display: block;
    font-size: clamp(80px, 5.5vw, 100px);
    font-family: var(--third-family);
    font-weight: 700;
    // margin-bottom: 20px;
    line-height: 1;
}

.hero__inner__item__desc {
    display: flex;
    align-items: center;
    // margin-bottom: 50px;

    & dt {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 70px;
        color: #f9faff;
    }

    & dd {
        font-size: 19px;
        margin-left: 20px;
        max-width: 299px;
    }
}


.hero__inner__item__awards {
    padding: 40px 30px 40px 80px;
    position: relative;
    border-radius: 10px;
    background: #f3f5fb;
    bottom: -60px;
    max-width: 492px;

    & span {
        opacity: .8;
        font-size: 19px;
        letter-spacing: -0.02em;
        color: #2c3558;
    }

    & h3 {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 50px;
        color: #1f4ae2;
    }

    & a,
    & button {
        margin-top: 20px;
    }

    & img {
        position: absolute;
        left: -20px;
        bottom: 30px;
        z-index: 1;
        width: 131px;
        height: 173px;
        display: block;
        transform: rotate(10deg);

    }

}

.hero__inner__item__form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 50px 40px 50px;
    backdrop-filter: blur(24px);
    background: rgba(249, 250, 255, 0.3);

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        & input[type='text'],
        & input[type='tel'] {
            border-radius: 5px;
            padding: 15px;
            border: none;

            backdrop-filter: blur(20px);
            background: rgba(249, 250, 255, 0.3);
        }
    }



    & input[type="submit"] {
        cursor: pointer;
        padding: 17px 30px 17px 30px;
    }
}

.hero__inner__item__form__title {
    font-size: clamp(50px, 4vw, 60px);
    margin: 0px 15px;
    color: rgb(249, 250, 255);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left 25%;
    padding-left: 57px;
    font-family: var(--third-family);
    margin-bottom: 16px;

    & span {
        color: rgb(249, 250, 255);
    }

    & strong {
        color: rgb(31, 74, 226);
        position: relative;
        left: -57px;
    }
}

.hero__inner__item__form__button {
    padding: 15px 25px;
    font-size: clamp(12px, 4vw, 16px);
    font-family: var(--font-family);
    display: block;
    width: 100%;
}

.--white {
    color: rgb(44, 53, 88);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.3s linear;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    margin-left: 16px;

    /* #F9FAFF */
    background: rgb(249, 250, 255);

    &:hover {
        background-color: rgb(31, 74, 226);
        color: #fff;
    }

}

.hero__inner__item__form__gift {
    padding-left: 53px;
    background-repeat: no-repeat;
    background-position: left center;

    & dl {
        display: flex;
        column-gap: 15px;

        & dd {
            font-size: 50px;
            font-weight: 700;
            line-height: 68px;
            letter-spacing: -2%;
            margin-left: 0;
        }
        & dt{
            font-size: 19px;
        }
    }
}


.form__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}