.order {
    padding-top: 90px;
    color: black;
}

.order__title {
    color: black;
    text-align: center;
    padding-bottom: 41px;
}

.order__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.order__inner__item {
    display: flex;
    align-items: flex-start;

    & + &{
        margin-left: 15px;
    }

    & dt {
        font-weight: 700;
        font-size: 48px;
        color: #1f4ae2;

        +dd {
            margin-left: 10px;
        }
    }

    & dd {
        font-family: "Georgia", sans-serif;;
        font-weight: 400;
        font-size: 22px;
        color: #000;
        max-width: 258px;

        & strong{
            display: block;
            font-weight: 700;
        }
    }
}