.ourcontacts {
    color: black;
    padding-top: 90px;
    padding-bottom: 90px;
}

.ourcontacts__title {}

.ourcontacts__inner {
    //padding-top: 30px;

    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-columns: 1fr 580px;
    align-items: center;

    & li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & dl {
            padding-top: 27px;
            display: block;
            font-family: "Georgia", serif;
            font-weight: 400;
            font-size: 24px;

            & dt span{
                display: block;
                padding-top: 10px;
            }

            & a{
                display: block;
                transition: color 0.3s linear;

                &:hover{
                    color: #1f4ae2;
                }
                
                & +a{
                    padding-top: 10px;
                }
            }
        }
    }
}