.ourcontacts {
    position: relative;
    padding: 90px 0;
    margin-bottom: 200px;

    @include tablet{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 45px 0 0;
        margin-bottom: 0;
    }
}

.ourcontacts__title {
    color: rgb(31, 74, 226);
    font-family: var(--third-family);
    font-size: clamp(30px, 8vw, 45px);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
}

.ourcontacts__inner {
    //padding-top: 30px;
    border-radius: 10px;
    /* #F3F5FB */
    background: rgb(243, 245, 251);
    padding: 40px 80px;
    max-width: 647px;
    position: relative;
    z-index: 1000;

    @include tablet{
        margin: -50px auto 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    & li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & dl {
            padding-top: 27px;
            display: block;
            font-weight: 400;
            font-size: 24px;

            & dd {
                color: rgb(31, 74, 226);
                font-family: var(--third-family);
                font-size: 32px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: 0%;
                text-align: left;

                @include mobile{
                    font-size: 24px;
                }
            }


            & dt {
                color: rgb(44, 53, 88);
                font-size: 19px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -2%;
                text-align: left;

                @include mobile{
                    font-size: 15px;
                }
            }

            & dt span {
                display: block;
                padding-top: 10px;
            }

            & a {
                display: block;
                transition: color 0.3s linear;

                &:hover {
                    color: #1f4ae2;
                }

                &+a {
                    padding-top: 10px;
                }
            }
        }
    }
}

.ourcontacts__map {
    position: absolute;
    inset: 0;
    z-index: 0;

    @include tablet{
        position: static;
    }
}
#map {
    width: 100%;
    height: 700px;
}