.review {
    padding-top: 122px;
position: relative;
padding-bottom: 90px;
}

.review__title {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 88px;
    color: rgb(44, 53, 88);
    font-family: var(--third-family);
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.review__inner {
    margin-top: 60px;
}

.swiper {}

.swiper-button-prev {
    width: 46px;
    height: 22px;

    &:after {
        display: none;
    }
}

.swiper-button-next {
    width: 46px;
    height: 22px;

    &:after {
        display: none;
    }
}

.swiper-wrapper {}

.swiper-slide {}

.review__inner__slide {}

.review__inner__data {
    border-left: 10px solid rgb(31, 74, 226);
    border-radius: 10px;
    background: rgb(243, 245, 251);
    padding: 50px 60px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 30px 190px 1fr;
    width: 100%;
    max-width: 1015px;
    margin-left: auto;
    margin-right: auto;


    & time {
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        gap: 20px;
        /* Устанавливаем вертикальное направление текста справа налево */

        & hr {
            width: 2px;
            height: 100%;
            /* Style */
            transform: rotate(180deg);
            border: 2px solid rgb(31, 74, 226);
        }
    }
}

.swiper__review__buttons {
    position: relative;
    height: 22px;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 132px;
    margin-left: auto;
    margin-right: auto;
}

.reviev__inner__img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    overflow: hidden;
}

.review__inner__main {
    & p {
        margin: 0;
        margin-top: 10px;
        color: rgb(44, 53, 88);
        font-size: 19px;
    }
}

.review__inner__main__address {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 45px;
    color: rgb(44, 53, 88);
    font-size: 19px;
    line-height: 160%;
    letter-spacing: -2%;
    text-align: left;
    font-style: normal;
}

.review__inner__main__title {
    color: rgb(31, 74, 226);
    font-family: var(--third-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    margin-top: 20px;
}

.review__bg {
    position: absolute;
    right: -50%;
    top: -50%;
    z-index: -1;
}