<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="" class="header__inner__logo">
                <img src="./assets/images/hero/logo.svg" alt="logo" width="200" height="56">
            </a>
            <div class="header__inner__geo">
                <img src="./assets/images/hero/geo.svg" alt="geo" width="44" height="44">
                <span>Работаем по Москве и Московской области</span>
                <span>Поселок Фабрики 1 мая, микрорайон Гора 33 к.1</span>
            </div>
            <a href="" class="header__inner__whatsapp">
                <img src="./assets/images/hero/logos_whatsapp-icon.svg" alt="whatsapp" width="44" height="44">
                <span>8-495-165-70-89</span>
                <span>Пишите в WhatsApp</span>
            </a>
            <a href="" class="header__inner__call">
                <img src="./assets/images/hero/Group 36.svg" alt="tel" width="44" height="44">
                <span>8-985-123-00-89</span>
                <span>Звоните! Мы на связи!</span>
            </a>
        </div>
    </div>
    <div class="header__bottom --main">
        <div class="container">
            <ul class="header__bottom__menu list-reset">
                <li><a href="">Каталог</a></li>
                <li><a href="">Наши проекты</a></li>
                <li><a href="">Цены</a></li>
                <li><a href="">Онлайн - оплата</a></li>
                <li><a href="">Калькулятор</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Акция</a></li>
                <li><a href="">Полезная информация</a></li>
            </ul>
        </div>
    </div>
</header>